body {
    background: #121212;
    font-family: 'Poppins', sans-serif
}

nav {
    background: #1e1e1e;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
.navbar-title {
    background: #2d2d2d;
    color: #f4f4f4;
    border-radius: 5px;
    padding: 5px 10px;
}

.user-dropdown {
    background: #2d2d2d;
}

.home-section {
    height: 100%;
}

.search-bar-container {
    padding-top: 200px;
}
.search-bar-box {
    background: #1e1e1e;
    border-radius: 50px;
    padding: 20px;
    width: 350px;
    margin: auto;
}
.search-bar {
    display: flex;
    flex-direction: row;
    border: solid 1px #2d2d2d;
    border-radius: 50px;
    height: 40px;
    padding: 5px;

}
.search-bar i {
    background: cornflowerblue;
  height: 40px;
  width: 40px;
  right: 5px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 27px;
}
.search-bar input {
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
    color: #757575;
    width: 80%;
    font-weight: bold;
    text-align: center;
}
.search-bar input::placeholder {
    text-align: center;
    font-weight: initial;
    font-size: 20px;
}

.track-list-container {
    justify-content: center;
    align-items: center;
}

.artist-list {
    position: absolute;
    border-radius: 0 0 10px 10px;
    width: 250px;
    left: 38.5%;
    top: 36.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #1e1e1e;
    padding: 0 40px 0 40px;
    transition: height 10s ease-in-out;
    z-index: 1;
}
.track.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: #2d2d2d solid 1px;
    border-radius: 5px;
    cursor: pointer;
}
.track.item.active, .track.item.active .cover, .track.item.active .name {
    display: flex;
}
.track.item .cover {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    /*border-radius: 50%;*/
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.track.item .name {
    font-size: 25px;
    color: white;
    border: none;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
}
.track.item .name:hover {
    overflow: auto;
}

.categories-section {
    padding: 75px 0 0 0;
}
.category-container {
    background: #1e1e1e;
    opacity: 84%;
    border-right: none;
    border-left: none;
    height: 420px;
    margin-top: 50px;
    padding: 5px;
}
.category-header {
    color: #f4f4f4;
    font-size: 28px;
    margin: 10px;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 15px;
}
.category-list {
    justify-content: space-between;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    padding: 20px 20px 25px 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.category-card {
    background: #1212125c;
    height: 270px;
    min-width: 170px;
    padding: 20px;
    color: white;
    /*background: url("https://i.scdn.co/image/ab6761610000e5ebe707b87e3f65997f6c09bfff") center/cover;*/
    border: 1px solid #f4f4f445;
    border-radius: 25px;
    margin-right: 40px;
    /*box-shadow: 3px 3px 3px black;*/
    text-align: center;
}
.category-card:hover  {
    background: rgba(18, 18, 18, 0.85);
}
.category-card .card-image {
    border-radius: 50%;
    /*border: 1px solid #f4f4f445;*/
    height: 140px;
    width: 140px;
}
.category-card .card-title {
    margin: 10px 10px 5px 10px;
}
.category-card .card-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
    max-width: 170px;
    margin: 0 0 15px 0;
}
.category-card .game-button-container {
}
.category-card i {
    font-size: 35px;
    color: white;
    border-radius: 50%;
    background: #2d2d2d;
    padding: 10px;
    cursor: pointer;

}

@media screen and (max-width: 650px) {

    .navbar-title {
        font-size: 20px;
        padding: 10px;
    }

    .navbar-artist {
        right: 0;
    }
    .navbar-artist .artist-image {
        height: 50px;
        width: 50px;
    }
    .navbar-artist .artist-title {
        font-size: 25px;
    }

    .search-bar-box {
        width: 275px;
    }
}
