body {
    font-family: 'Poppins', sans-serif;
    background: #2d2d2d;
}

.login-container {
    padding-top: 250px;
    justify-content: center;
    margin: auto;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    background: #1e1e1e;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    margin: auto;
box-shadow: 5px 5px 5px black;
}
.login .login-title {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}
.login img {
    height: 10vh;
}
.login .login-button {
    cursor: pointer;
    margin-top: 10px;
    font-size: 25px;
    background: #121212;
    border-radius: 40px;
    padding: 15px;
    box-shadow: 3px 3px 3px black;
}
.login a {
    text-decoration: none;
    color: white;

}

